.eg-input{
  position: relative;
  display: inline-block;
  width: 240px;
  font-size: 14px;
}
.eg-input-inner{
  display: inline-block;
  width: 100%;
  height: 36px;
  padding: 3px 10px;
  line-height: 30px;
  font-family: inherit;
  color: #1f2d3d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: text;
  outline: none;
  transition: border-color .2s ease-in-out;
}
.eg-input:hover .eg-input-inner{
  border-color: #8391a5;
}
.eg-input-inner:focus {
  border-color: #20a0ff;
}
.eg-input-inner::-webkit-input-placeholder{
  color: #97a8be;
}
.eg-input-inner::-moz-placeholder{
  color: #97a8be;
  opacity: 1;
}
.eg-input-inner::placeholder{
  color: #97a8be;
}
.eg-input-large{
  width: 300px;
  font-size: 16px;
}
.eg-input-small{
  width: 200px;
  font-size: 13px;
}
.eg-input-mini{
  width: 160px;
  font-size: 12px;
}
.eg-input.disabled .eg-input-inner{
  color: #bbb;
  background-color: #eef1f6;
  border-color: #d1dbe5;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  usr-select: none;
}
.eg-input.disabled .eg-input-icon{
  cursor: not-allowed;
}
/*size*/
.eg-input-large .eg-input-inner{
  height: 40px;
  font-size: 16px;
  line-height: 24px;
}
.eg-input-small .eg-input-inner{
  height: 28px;
  font-size: 13px;
  line-height: 22px;
}
.eg-input-mini .eg-input-inner{
  height: 22px;
  font-size: 12px;
  line-height: 16px;
}
/*icon*/
.eg-input-icon{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #bfcbd9;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  usr-select: none;
  transition: color .2s ease-in-out;
}
.eg-input-icon:hover{
  color: #8391a5;
}
.eg-input-icon:active{
  color: #20a0ff;
}
.eg-input-icon+.eg-input-inner{
  padding-right: 36px;
}
.eg-input-large .eg-input-icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.eg-input-large .eg-input-icon+.eg-input-inner{
  padding-right: 40px;
}
.eg-input-small .eg-input-icon{
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.eg-input-small .eg-input-icon+.eg-input-inner{
  padding-right: 28px;
}
.eg-input-mini .eg-input-icon{
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.eg-input-mini .eg-input-icon+.eg-input-inner{
  padding-right: 22px;
}
/*sug*/
.eg-input-sug{
  position: absolute;
  left: 0px;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  padding: 6px 0;
  background-color: #fff;
  border: 1px solid #d1dbe5;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
  box-sizing: border-box;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.eg-input-sug-item{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 10px;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
}
.eg-input-sug-item:hover, .eg-input-sug-item.key{
  background-color: #e4e8f1;
}
.eg-input-sug-item.selected{
  color: #fff;
  background-color: #20a0ff
}
.sug-enter, .sug-leave-active{
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
}
.sug-enter-active, .sug-leave-active{
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
