.eg-select{
  display: inline-block;
  width: 240px;
  font-size: 14px;
}
.eg-select-input{
  position: relative;
  display: inline-block;
  width: 100%;
}
.eg-select .eg-input-inner{
  cursor: pointer;
}
.eg-select .eg-input-icon{
  color: #bfcbd9;
  -webkit-transition: transform .3s;
  transition: transform .3s;
}
.eg-select-visible .eg-input-icon{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.eg-select-visible.selected.clearable .eg-input-icon{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.eg-select.clearable.selected .eg-input-icon:hover{
   color: #97a8be;
}
.eg-select-dropdown{
  position: absolute;
  z-index: 2;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  padding: 6px 0;
  background-color: #fff;
  border: 1px solid #d1dbe5;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
  box-sizing: border-box;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.eg-select-option{
  width: 100%;
  padding: 8px 10px;
  color: #48576a;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
}
.eg-select-option.hover{
  background-color: #e4e8f1;
}
.eg-select-option.selected{
  color: #fff;
  background-color: #20a0ff
}
.eg-select-option.selected.hover{
   background-color: #1c8de0
}
.eg-select-option.disabled{
  color: #bfcbd9;
  cursor: not-allowed;
}
.drop-enter, .drop-leave-active{
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
}
.drop-enter-active, .drop-leave-active{
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.eg-select-large{
  width: 300px;
 font-size: 16px;
}
.eg-select-small{
  width: 200px;
  font-size: 13px;
}
.eg-select-mini{
  width: 160px;
  font-size: 12px;
}
.eg-select-list{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  padding: 3px 36px 3px 0;
  font-size: 0px;
}
.eg-select-tag{
  display: inline-block;
  height: 24px;
  padding: 0 5px;
  font-size: 14px;
  color: #20a0ff;
  line-height: 24px;
  background-color: rgba(32,160,255,.1);
  border: 1px solid rgba(32,160,255,.2);
  border-radius: 2px;
  box-sizing: border-box;
}
